<header class="toc group">
  <div class="title">
    The Abridged History of World War 2: 1944
  </div>




  <div class="search">
    <input class='searchicon' type="image" src="assets/images/magnifyingGlass.png" ng-click="checked ? checked=false : checked=true">
    <div class="searchbox animate-show" ng-show="checked">
      Search: <input ng-model="query">

      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="date">Date</option>
      </select>
    </div>
  </div>

</header>

<div class="container-fluid group">
  <div class="row">
    <div class="col-md-2" >



    </div>
    <div class="col-md-10">

      <ul class="chapters">
        <li ng-repeat="chapter in chapters | filter:query | orderBy:orderProp"
          class="chapter-listing">
          <!-- <a href="#/chapters/{{chapter.id}}" class="thumb"><img ng-src="{{chapter.imageUrl}}"</a> -->
          <a href="#/chapters/{{chapter.id}}">
          <div class="age">
            {{chapter.id}}
          </div>
          <div class="details">
            <p>{{chapter.name}}, {{chapter.date_start | date : 'MMMM d y' }} -
              {{chapter.date_end | date : 'MMMM d y' }}</p>
          </div>

          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
