<a href="#/chapters">Back</a>

<div class="chapter-images">
  <img ng-src="{{mainImageUrl}}"
       class="chapter"
       ng-repeat="img in chapter.images"
       ng-class="{active:mainImageUrl==img}">
</div>



<h1>{{chapter.name}}</h1>
<h2>{{chapter.date | date : 'MMMM d, y' }}</h2>

<p>{{chapter.description}}</p>

<ul class="chapter-thumbs">
  <li ng-repeat="img in chapter.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

<ul class="specs">

  <span>Result: {{chapter.result}}</span>
  <dl>
    <dt>Victor: </dt>
      <dd ng-repeat="stats in chapter.victor">{{stats}}</dd>
    <dt>Loser: </dt>
      <dd ng-repeat="stats in chapter.loser">{{stats}}</dd>
  </dl>

</ul>
