

<div class="sidebar" ng-hide="toggleSidebar">
  <div class="sidebar-top">
    <a href="#/chapters" >
      <img src="assets/images/back_arrow.png" class="navback" />
    </a>
    <p class="detail-id">{{chapter.id}}</p>
    <p class="detail-title">{{chapter.name}},
      {{chapter.date | date: 'MMMM, y'}} -
      {{chapter.date_end |  date: 'MMMM, y'}}</p>
  </div>

  <div class="sidebar-links group">
    <div class="sidebar-link" ng-repeat="link in chapter.pages">
      <a class="link_x" href="#/chapters/{{chapter.id}}/{{link.id}}"
         ng-show="link.id === page"></a>
      <a class="link_o" href="#/chapters/{{chapter.id}}/{{link.id}}"
         ng-show="link.id !== page"></a>
    </div>
  </div>

  <div class="sidebar-bottom">
    <a class="toggleHideEnd" href ng-click="toggleEndnotes = !toggleEndnotes"
      ng-show="!toggleEndnotes">^</a>
    <a class="toggleShowEnd" href ng-click="toggleEndnotes = !toggleEndnotes"
      ng-show="toggleEndnotes">v</a>

    <div class="sidebar-bottom-links" ng-hide="toggleEndnotes">
      Biographies
      Endnotes
    </div>
  </div>
</div>


<div class="chapter-container group shift-right">

  <div class="page-navbar">

    <a class="toggleHide" href ng-click="toggleSidebar = !toggleSidebar; navbarLeft()"
      ng-show="!toggleSidebar"><</a>
    <a class="toggleShow" href ng-click="toggleSidebar = !toggleSidebar; navbarRight()"
      ng-show="toggleSidebar">></a>


    {{chapter.pages[page].title}}


    <div class="links">
      <div class="prev" ng-hide="pageFirst">
        <a  href="#/chapters/{{chapter.id}}/{{page-1}}">
          <div class="pagePrev" >
            <
          </div>
        </a>
      </div>

      <div class="next" ng-hide="pageLast">
        <a href="#/chapters/{{chapter.id}}/{{page+1}}">
          <div class="pageNext">
            >
          </div>
        </a>
      </div>
    </div>


  </div>

  <div class="chapter-content group">

    <div ng-repeat="object in chapter.pages[page].order">
      <div ng-repeat="(key, value) in object" >

        <div ng-if="key === 'paragraphs'">
          <p>{{chapter.pages[page][key][value]}}</p>
        </div>

        <div ng-if="key === 'images'"
             ng-controller='ModalCtrl'>

          <div class='div-modal-thumb' data-ng-init="selectedImage = (chapter.pages[page][key] | filter:{id:value})">
            <img class='modal-thumb-img' ng-src='{{selectedImage[0].src}}'
                 ng-click="toggleModal()">
            <h3 class='modal-thumb-title'>Figure {{chapter.id}}.{{value+1}}: </h3>
              <p class='modal-thumb-title'>{{selectedImage[0].title}}</p>
          </div>

          <modal-dialog show='modalShown' width='90%'>
            <h2 class='modal-title'>Figure {{chapter.id}}.{{value+1}}: {{selectedImage[0].title}}</h2>
              <img class='modal-full-img' ng-src='{{selectedImage[0].src}}' >
            <p class='modal-caption'>{{selectedImage[0].caption}}</p>
          </modal-dialog>
        </div>

        <div ng-if="key === 'models'"
             ng-controller='ModalCtrl'>

          <div class='div-modal-thumb' data-ng-init="selectedImage = (chapter.pages[page][key] | filter:{id:value})">
            <img class='modal-thumb-img' ng-src='{{selectedImage[0].src}}'
                 ng-click="view3dModel(); toggleModal()">
            <h3 class='modal-thumb-title'>Model {{chapter.id}}.{{value+1}}: </h3>
              <p class='modal-thumb-title'>{{selectedImage[0].title}}</p>
          </div>

          <modal-dialog show='modalShown' width='90%'>
            <h2 class='modal-title'>Model {{chapter.id}}.{{value+1}}: {{selectedImage[0].title}}</h2>
              <div ng-include="templateURL" id="modelView">
              </div>
            <p class='model-directions'>TOOLTIP: Use the mouse to rotate model.</p>
            <p class='modal-caption'>{{selectedImage[0].caption}}</p>
          </modal-dialog>
        </div>


      </div>
    </div>


  </div>


  <div class="page-footer">

    <div class="prev" ng-hide="pageFirst">
      <a  href="#/chapters/{{chapter.id}}/{{page-1}}">
        <div class="pagePrev" >
          < previous section
        </div>
      </a>
    </div>

    <div class="next" ng-hide="pageLast">
      <a href="#/chapters/{{chapter.id}}/{{page+1}}">
        <div class="pageNext">
          next section >
        </div>
      </a>
    </div>
  </div>



</div>
