
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">


      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="date">Date</option>
      </select>


    </div>
    <div class="col-md-10">

      <ul class="chapters">
        <li ng-repeat="chapter in chapters | filter:query | orderBy:orderProp"
          class="thumbnail chapter-listing">
          <a href="#/chapters/{{chapter.id}}" class="thumb"><img ng-src="{{chapter.imageUrl}}"</a>
          <a href="#/chapters/{{chapter.id}}">{{chapter.name}}</a>
          <p>{{chapter.date}}</p>
          <p>{{chapter.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
