

<div class="sidebar" ng-hide="toggleSidebar">
  <div class="sidebar-top">
    <a href="#/chapters" >
      <img src="assets/images/back_arrow.png" class="navback" />
    </a>
    <p class="detail-id">{{chapter.id}}</p>
    <p class="detail-title">{{chapter.name}},
      {{chapter.date | date: 'MMMM, y'}} -
      {{chapter.date_end |  date: 'MMMM, y'}}</p>
  </div>

  <div class="sidebar-bottom">
    Biographies
    Endnotes
  </div>
</div>


<div class="chapter-container group">

  <div class="page-navbar">

    <a class="toggleHide" href ng-click="toggleSidebar = !toggleSidebar"
      ng-show="!toggleSidebar"><</a>
    <a class="toggleShow" href ng-click="toggleSidebar = !toggleSidebar"
      ng-show="toggleSidebar">></a>


    {{chapter.pages[page].title}}


    <div class="links">
      <div class="prev" ng-hide="pageFirst">
        <a  href="#/chapters/{{chapter.id}}/{{page-1}}">
          <div class="pagePrev" >
            <
          </div>
        </a>
      </div>

      <div class="next" ng-hide="pageLast">
        <a href="#/chapters/{{chapter.id}}/{{page+1}}">
          <div class="pageNext">
            >
          </div>
        </a>
      </div>
    </div>


  </div>

  <div class="chapter-content">
    {{chapter.pages[page].content}}
  </div>


  <div class="page-footer">

    <div class="prev" ng-hide="pageFirst">
      <a  href="#/chapters/{{chapter.id}}/{{page-1}}">
        <div class="pagePrev" >
          < previous section
        </div>
      </a>
    </div>

    <div class="next" ng-hide="pageLast">
      <a href="#/chapters/{{chapter.id}}/{{page+1}}">
        <div class="pageNext">
          next section >
        </div>
      </a>
    </div>
  </div>



</div>
